:root {
  --light-color-background: #ffffff;
  --light-color-background-highlight: #c0c0c0;
  --light-color-container: #ffffff;
  --light-color-page: #ffffff;
  --light-color-header: #000000;
  --light-color-navigation: #000000;
  --light-color-text: #000000;
  --light-color-text-highlight: #404040;

  --dark-color-background: #202020;
  --dark-color-background-highlight: #282828;
  --dark-color-container: #303030;
  --dark-color-page: #202020;
  --dark-color-header: #000000;
  --dark-color-navigation: #000000;
  --dark-color-text: #ffffff;
  --dark-color-text-highlight: #c0c0c0;
}
