#header {
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 40px);
  padding: 0 20px;
  background: var(--color-header);

  h1 {
    padding: 10px 0;
  }

  .avatar {
    background: var(--color-background-highlight);
    box-shadow: inset 0 0 4px 0 #000000;

    &:hover {
      box-shadow: inset 0 0 6px 0 #000000;
      cursor: pointer;
    }
  }
}
