#menu {
  position: absolute;
  right: 0;
  top: 130px;
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: var(--color-header);

  &.visible {
    display: flex;
  }

  a,
  .item {
    width: calc(100% - 40px);
    padding: 10px 20px;
    text-align: right;

    &:hover {
      background: var(--color-page);
      box-shadow: inset -4px 2px 4px 1px #101010;
      color: var(--color-text-highlight);
      cursor: pointer;
      transition:
        background 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out;
    }
  }
}
